@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.card {
		@apply mb-5 w-full rounded-lg border border-slate-200 bg-white shadow-lg shadow-slate-400;
	}

	.table {
		@apply mb-5 w-full border-collapse text-slate-600;
	}

	.dashboard__content:hover i {
		transform: rotate(20deg);
		transition: all 300ms ease-in-out;
	}

	.dashboard__content i {
		transform: rotate(0);
		transition: all 300ms ease-in-out;
	}
}
